<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-info' *ngIf="!loaderOpen" style="width: 1150px; height: auto">
    <div class='panel-heading' style='font-size:large'>
        Time on lazada
    </div>
    <div>
        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartTimeOnLazadaData"
                    [labels]="barChartTimeOnLazadaLabel"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <br/>
    <br/>
    <div class='panel-heading' style='font-size:large'>
        Seller size
    </div>
    <div>
        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartSellerSizeData"
                    [labels]="barChartSellerSizeLabel"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <br/>
    <br/>
    <div class='panel-heading' style='font-size:large'>
        Ship on time
    </div>
    <div>
        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartShipOnTimeData"
                    [labels]="barChartShipOnTimeLabel"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <modal (modalOutput)="getData($event)">
    </modal>
</div>