<loader-modal [opening]="loaderOpen" (loaderClicked)='onLoaderClicked($event)'></loader-modal>
<div class='panel panel-primary' *ngIf="!loaderOpen" style="width: 1150px; height: 600px">
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <div>
        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button (click)="randomize()">Update</button>
    </div>
    <modal (modalOutput)="getData($event)">
    </modal>
</div>